.animated-section {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s, transform 1s;
}

.animated-section.right {
  transform: translateX(50px);
}

.animated-section.show {
  opacity: 1;
  transform: translateX(0);
}

.animated-div {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s, transform 1s;
}

.animated-div.right {
  transform: translateX(50px);
}

.animated-div.show {
  opacity: 1;
  transform: translateX(0);
}
.animated-p {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s, transform 1s;
}

.animated-p.right {
  transform: translateX(50px);
}

.animated-p.show {
  opacity: 1;
  transform: translateX(0);
}
.animated-a {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s, transform 1s;
}

.animated-a.right {
  transform: translateX(50px);
}

.animated-a.show {
  opacity: 1;
  transform: translateX(0);
}
.animated-img {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s, transform 1s;
}

.animated-img.right {
  transform: translateX(50px);
}

.animated-img.show {
  opacity: 1;
  transform: translateX(0);
}

.sander-animate {
  margin: 0 auto;
}
